@model EntityLayer.Concrete.Heading

@{
    ViewBag.Title = "AddHeading";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Başlık Ekleme</h2>
<br />
@using (Html.BeginForm("AddHeading", "Heading", FormMethod.Post))
{
<div class="form-group">
    @Html.Label("Başlık Adı")
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Name)
    <br />
    @Html.Label("KAtegori ")
    @Html.TextBoxFor(x => x.CategoryID, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CategoryID)
    <br />
    @Html.Label("Yazar")
    @Html.TextBoxFor(x => x.WriterId, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.WriterId)
    <br />

    <button class="btn btn-info">Başlık Oluştur</button>

</div>
}
