@model EntityLayer.Concrete.Heading
@{
    ViewBag.Title = "EditHeading";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Başlık Güncelleme Sayfası</h2>
@using (Html.BeginForm("EditHeading", "Heading", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Başlık ID")
        @Html.TextBoxFor(x => x.HeadingId, new { @class = "form-control" })
    </div>
    <br />
    <div class="form-group">
        @Html.Label("Başlık Adı")
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    </div>
    <br />
    <div class="form-group">
        @Html.Label("Tarih")
        @Html.TextBoxFor(x => x.CreatedDate, new { @class = "form-control" })
    </div>
    <br />
    <div class="form-group">
        @Html.Label("Yazar ID")
        @Html.TextBoxFor(x => x.WriterId, new { @class = "form-control" })
    </div>
    <br />
    <div class="form-group">
        @Html.Label("Başlık Adı")
        @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.v1, new { @class = "form-control" })
    </div>
    <br />
    <button class="btn btn-success">Güncelle</button>
}

