@model EntityLayer.Concrete.Writer
@{
    ViewBag.Title = "EditWriter";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yazar Düzenleme Safası</h2>
@using (Html.BeginForm("EditWriter", "Writer", FormMethod.Post))
{
    @Html.Label("Yazar ID")
    @Html.TextBoxFor(x => x.WriterId, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.WriterId)

    <br />
    @Html.Label("Yazar Adı")
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Name)

    <br />
    @Html.Label("Yazar Soyadı")
    @Html.TextBoxFor(x => x.Surname, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Surname)
    <br />
    @Html.Label("Yazar Mail")
    @Html.TextBoxFor(x => x.Mail, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Mail)
    <br />
    @Html.Label("Yazar Görsel Linki")
    @Html.TextBoxFor(x => x.Image, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Image)
    <br />
    @Html.Label("Yazar Unvan")
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Title)
    <br />
    @Html.Label("Yazar Hakkında")
    @Html.TextBoxFor(x => x.About, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.About)
    <br />
    <button class="btn btn-success">Değişiklikleri Uygula</button>
}

